.status_report {
  height: auto;
}

.volume {
  margin: 0.5em 0 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 1em;
  font-style: normal;
  color: rgba(0, 0, 0, 0.4);
}
.ui.feed > .event > .content .summary {
  margin-top: -0.5em;
}
.volume_shippment {
  margin: -0.5em 0 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 1em;
  font-style: normal;
  color: rgba(0, 0, 0, 0.4);
}
.ui.feed > .event > .content .summary_shipment {
  margin-top: 0px;
}
a {
  color: #764e96;
}

.ui.steps .step.active .title {
  color: #764e96;
}
.ui.steps .step.completed .title {
  color: #764e96;
}

.ui.ordered.steps .step.active:before,
.ui.steps .step.active > .icon:before {
  content: "\e800";
  font-family: step;
}

.ui.ordered.steps .step.active:before,
.ui.steps .active.step .icon {
  color: #c4c3c4;
}
.status_modal_bottom {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.status_modal_top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
